/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

@import './app/design-system/tokens/tokens.css';

:root {
  --font-family-title: 'Pacifico', cursive;
  --font-family-body: 'Lora', serif;
}

* {
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}
