/* You can add global styles to this file, and also import other style files */

@import './app/design-system/tokens/tokens.css';

* {
  margin: 0;
}

html, body {
  height: 100%;
  overflow: auto;
  font-family: var(--ds-body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
